* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: #eee;
  display: flex;
  height: 60px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-shadow: 10px 10px 15px -15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: serif;
  color: #444;
  font-weight: bold;
}

/*-----header-----*/

.logo {
  /* background-color: violet; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo-image {
  /* background-color: #555; */
  color: #111;
}

.contents {
  /* background-color: thistle; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.contents ul {
  /* background-color: turquoise; */
  display: flex;
  justify-content: space-between;
  min-width: 65%;
}

.contents ul li {
  font-size: 17px;
  border-radius: 5px;
  transition: 0.3s;
}

.contents ul li:hover {
  background-color: #888;
}

.contents ul li a {
  display: block;
  padding: 10px;
  transition: 0.3s;
}

.contents ul li a:hover {
  color: #eee;
}

.media {
  /* background-color: slateblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.media ul {
  /* background-color: yellowgreen; */
  display: flex;
  align-items: center;
  justify-content:space-between;
  min-width: 40%;
}

.media ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30px;
  height: auto;
  padding: 0px 5px;
} 

.icon {
  filter: drop-shadow(1.3px 1.3px 1.3px rgba(0,0,0,0.6));
  opacity: 0.8;
}

.icon:hover {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,1));
  opacity: 0.6;
}

/*------header------*/

/*-----main-----*/

.sample1-photo {
  /* float: right;
  width: 50%; */
  margin-top: 60px;
}

.sample2-photo {
  /* float: left;
  width: 50%; */
  margin-top: 60px;
}

.sample3-photo {
  margin-top: 60px;
}

.sample4-photo {
  margin-top: 60px;
}

/*-----main-----*/

/*-----footer-----*/

/*-----footer-----*/

@media(max-width:480px){
  /* .header {
    /*position: fixed;*/
    /*position: relative;
  }*/

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 50%;
  }

  .media {
    position: absolute;
    top: 5%;
    right: 0;
    width: 40%;
    height: 50%;
  }

  .media ul li a {
    margin: 0px 5px;
  }

  .contents {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 100%;
    height: 50%;
  }

  .contents ul li {
    margin: 0px 10px;
    font-size: 15px;
  }

  .contents ul li a {
    display: block;
    padding: 3px 10px;
  }
}