* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: #eee;
  display: flex;
  height: 70px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-shadow: 10px 10px 15px -15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: serif;
  color: #444;
  font-weight: bold;
}

/*-----header-----*/

.logo {
  /* background-color: violet; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo-image {
  /* background-color: #555; */
  color: #111;
}

.contents {
  /* background-color: thistle; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.contents ul {
  /* background-color: turquoise; */
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.contents ul li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
}

.media {
  /* background-color: slateblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.media ul {
  /* background-color: yellowgreen; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.media ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: auto;
  padding: 0px 20px;
} 

.icon {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
}

/*------header------*/

/*-----main-----*/
/*
.sample1-photo {
  float: right;
  width: 50%;
}

.sample2-photo {
  float: left;
  width: 50%;
}

/*-----main-----*/